Package: love.litten.librose
Name: libRose
Depends: mobilesubstrate, firmware (>= 15.0)
Description: Library
Maintainer: Litten
Author: Litten
Section: System
Tag: role::developer
Architecture: iphoneos-arm64
Version: 1.0
Installed-Size: 168
